:root {
}

p {
  text-align: justify;
}

:root [data-md-color-primary=white] {
  --md-typeset-a-color: var(--md-accent-fg-color) !important;
  --md-typeset-mark-color: var(--md-mermaid-node-bg-color);
}

.md-tabs__item.md-tabs__item--active {
  color: var(--md-typeset-a-color);
}

footer {
  background-color: #00FFFF;
}

/* Change the text color in the footer */
footer {
  color: #00FFFF;
}
